* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(20, 30, 48);
    background: linear-gradient(90deg, rgba(20, 30, 48, 1) 0%, rgba(36, 43, 85, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.content {
    width: 50%;
    height: 80%;
    background-color: #F0F0F0;
    border: 1px solid;
    border-radius: 20px;
    position: relative;
}

.content header {
    text-align: center;
    color: #F45050;
}

.btn-group button {
    background-color: #F9D949;
}

.btn-group button:hover {
    background-color: #d8bc3f;
}

.close,
.check-mark {
    cursor: pointer;
}

.close:hover {
    background-color: darkred;
    color: white !important;

}

.checked {
    color: white;
    background-color: #7DCE13;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 94%;
}

#todoList {
    max-height: 60%;
}